.addnewuser{
  box-sizing: border-box;
  position: relative;
  width: calc(100% - 290px);
  left: 280px;
  background: var(--white);
  transition: 0.5s;
  overflow: auto;
}

.addstudntform{
  margin-top: 70px;
}