.navbar-header{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nv{
    background-color: #dee2e6;
}

.main{
    display: inline;
    margin: 0 10px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.ri{
    display: inline;
}

.nav-right{
    display: inline;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 23px;
}

.nav-right:hover{
    background-color: #adb5bd;
}

