.logout{
    float: right;
    margin-right: 50 px;
    position: sticky;
    width: 20%;
    background-color: #dee2e7;
    border: 1px solid darkgray;
    z-index:999999999;
}

.innerlogout{
    top: 60px;
    /* right: 10px; */
    width: 20%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    position: fixed;
    background-color: gainsboro;
}

.content{
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
}

.content:hover{
    background-color: darkgray;
    color: white;
}

.details{
    text-align: center;
    margin: 5px 0;
}

.imgcla{
    width: 100px;
    padding: 0;
}