/* .registration {
  background-color: lightgray;
  margin: auto;
  width: 50%;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

.label {
  display: block;
  font-size: larger;
  padding: 5px;
  background-color: darkgray;
}

.input {
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 2px 0;
  width: 100%;
  display: block;
} */

/* #btnn #btn-reset {
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
} */


.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}